/cluster/kind
/cluster/pki/out/
/cli/kubeconfig
/applications/secret-test/
# Helm charts downloaded by "kubectl kustomize --enable-helm"
charts/
# Harbor installer, certificates and data
/registry/out/
